<?php

/**
 * app_database.php
 *
 * Fichero para credenciales a conexion de base de datos
 * 
 */

$app_database = array(
    'main' => array(
        
        'DB_TYPE' => '', /* motor base de datos usada en la aplicacion: MYSQL (para mysql), PGSQL (para postgresql), MSSQL (para sql server) */
        
        'DB_HOST' => '', /* host o IP servidor base de datos */
        
        'DB_PORT' => '', /* puerto de conexion */
        
        'DB_NAME' => '', /* nombre base de datos */
        
        'DB_USER' => '', /* usuario de conexion  */
        
        'DB_PASS' => '', /* password de conexion */

        'DB_CHARSET' => '', /* charset indicado en la base de datos */

        'DB_PREFIX' => '', /* prefijo que tienen los nombres de las tablas en base de datos, si es que se tiene */
        
    )
);
