<?php

/**
 * app_database.php
 *
 * Fichero para credenciales a conexion de base de datos
 * 
 */

$app_database = array(
    'main' => array(
        /**
         * DB_TYPE : Tipo de conexion
         * - MYSQL > para motor MySQL
         * - PGSQL > para motor PostgreSQL
         * - MSSQL > para motor SQL Server
         */
        'DB_TYPE' => '',
        /** host o IP servidor base de datos */
        'DB_HOST' => '',
        /** puerto de conexion */
        'DB_PORT' => '',
        /** nombre base de datos */
        'DB_NAME' => '',
        /** usuario de conexion  */
        'DB_USER' => '',
        /** password de conexion */
        'DB_PASS' => '',
        'DB_CHARSET' => '',
        'DB_PREFIX' => '',
    )
);
